@charset "utf-8";

h1,h2,p{
   
    margin: auto;
    font-size: 20px;
    
}

body{
    background-color: rgb(121, 254, 254);
}


div {
    background-color: ;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20vw;


}



