@charset "utf-8";


body{

    background-color: #BF4136 ;
    
}

h1,h2,h3{
    color:#F2D6BD ;
    text-align: center;
    margin: 0px 0px 40px 0px;
    
}

img{
    width:100%;
    max-width:300px;
    border-radius: 20px;
    margin: 30px 0px 30px 39%;
    box-shadow: 3px 3px black;
}

img:hover{
    width:100%;
    max-width:300px;
    border-radius: 20px;
    margin: 30px 0px 30px 39%;
    box-shadow: 3px 3px rgb(255, 255, 255);
    transition: 2.2s;

}

p{
    color: #ffff;
    text-align: center;
    font-size: 20px;
    
}




 


a{
    color: #BF4136;
    font-size: 18px;
    
}


div{
    background-color:#591607 ;

}

li.orgulho{
    color:  white;
   
}

li{
    color:  white;
       
}

